body,
main {
  position: relative;
  width: 100%;
  cursor: var(--cursor);
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 16);
  scroll-behavior: initial;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &[data-theme='light'] {
    background-color: $white;
  }

  &[data-theme='dark'] {
    background-color: $black;
  }

  @include media('<=tablet') {
    font-size: calc(100vw / 768 * 16);
  }

  @include media('<=phone') {
    font-size: calc(100vw / 425 * 16);
  }

  @include media('<=375px') {
    font-size: calc(100vw / 375 * 16);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family:
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    Segoe UI,
    sans-serif;
  background-color: inherit;

  &::-webkit-scrollbar {
    width: 0rem;
  }
}

::selection {
  background-color: rgba(102, 102, 102, 0.2);
  color: $black;
}

/* Clean transitions */
.page-loading .animate-on-enter {
  opacity: 0;
  visibility: hidden;
}

/* Transition overlay */
.site-transition-overlay {
  pointer-events: none;
  will-change: opacity;
}
