// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

$white: #ffffff;
$orange: #fb4d1d;
$grey-white: #d9dadd;
$black: #000000;
