span.word_wrap {
  overflow: hidden !important;
  display: inline-block;
}

[data-animation*="skew"] .word-line-wrapper {
  overflow: hidden !important;
}

[data-animation*="skew"] .word-line-wrapper .word-line,
[data-animation*="skew"] .word-line {
  display: inline-block;
}

[data-animation*="skew"] .word-line .word,
[data-animation*="skew"] div.word {
  line-height: inherit !important;
}

[data-animation="skew-rotate-heading"] .word-line-wrapper {
  perspective: 1000px;
}

[data-animation="skew-split-paragraph"] .word-line,
[data-animation="skew-fade-paragraph"] .word-line-wrapper {
  display: inline-block;
}

.white {
  color: $black;
}

.black {
  color: $black;
}
