[wp-theme='dark'] {
  * {
    color: $white !important;
  }

  & li {
    &.active {
      & * {
        background-color: $white !important;
        color: $black !important;
      }
    }

    & * {
      &:hover {
        background-color: $white;
        color: $black !important;
      }
    }
  }
}

[wp-theme='light'] {
  * {
    color: $black !important;
  }

  & li {
    &.active {
      & * {
        background-color: $black !important;
        color: $white !important;
      }
    }

    & * {
      &:hover {
        background-color: $black;
        color: $white !important;
      }
    }
  }
}

.wp {
  @include flexed(unset, center, column);
  height: auto;
  width: 100%;
  position: relative !important;
  overflow: hidden;

  & * {
    color: $white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  &__pageHeader {
    width: 100%;
    @include flex(space-between, flex-start);
    position: relative;
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-inline: 1rem 1rem;
    z-index: 10;

    @include media('>tablet') {
      padding-inline: 1rem toRem(77);
    }

    %CommonLinkStyle {
      font-size: toRem(14);
      font-weight: 300;
      line-height: toRem(15.7);
      letter-spacing: -0.02em;
      text-align: center;
      width: toRem(84);
      height: toRem(24);
      padding: toRem(4) toRem(24);
      border: 1px solid currentColor;
      border-radius: 100px;
      @include flex(center, center);
      background-color: transparent;

      &:hover {
        border-color: transparent !important;
      }
    }

    &-menuBtn {
      @extend %CommonLinkStyle;

      @include media('>tablet') {
        display: none;
      }
    }

    &-navLinks {
      width: max-content;
      display: none;
      column-gap: toRem(5);

      @include media('>tablet') {
        @include flex(flex-start, center);
      }

      & li {
        & * {
          @extend %CommonLinkStyle;
        }
      }
    }

    &-bigText {
      & h1 {
        @extend %CB;
        font-size: toRem(24);
        font-weight: 400;
        line-height: toRem(24);
        letter-spacing: 0.02em;
        text-align: center;
        position: relative;
        text-transform: uppercase;

        @include media('>tablet') {
          font-size: toRem(36);
          line-height: toRem(36);
        }

        & sup {
          @extend %BS;
          font-size: toRem(14);
          font-weight: 300;
          line-height: toRem(15.7);
          letter-spacing: -0.02em;
          text-align: left;
          position: relative;
          user-select: none;
          margin-top: 4px;
          white-space: nowrap;

          @include media('>tablet') {
            vertical-align: super;
          }
        }
      }
    }
  }
}
