[wp-theme="dark"] {
  * {
    color: $white !important;
  }

  & li {
    &.active {
      & * {
        background-color: $white !important;
        color: $black !important;
      }
    }

    & * {
      &:hover {
        background-color: $white;
        color: $black !important;
      }
    }
  }
}

[wp-theme="light"] {
  * {
    color: $black !important;
  }

  & li {
    &.active {
      & * {
        background-color: $black !important;
        color: $white !important;
      }
    }

    & * {
      &:hover {
        background-color: $black;
        color: $white !important;
      }
    }
  }
}

.wp {
  @include flexed(unset, center, column);
  height: auto;
  width: 100%;
  position: relative !important;

  & * {
    color: $white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  &__pageHeader {
    width: 100%;
    @include flex(space-between, flex-start);
    position: relative;
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-inline: 1rem toRem(77);
    z-index: 10;

    &-navLinks {
      width: max-content;
      @include flex(flex-start, center);
      column-gap: toRem(5);

      & li {
        & * {
          font-size: toRem(14);
          font-weight: 300;
          line-height: toRem(15.7);
          letter-spacing: -0.02em;
          text-align: center;
          width: toRem(84);
          height: toRem(24);
          padding: toRem(4) toRem(24);
          border: 1px solid currentColor;
          border-radius: 100px;
          @include flex(center, center);
          background-color: transparent;

          &:hover {
            border-color: transparent !important;
          }
        }

        & .modal-trigger {
          cursor: zoom-in;
        }
      }
    }

    &-bigText {
      & h1 {
        @extend %CB;
        font-size: toRem(36);
        font-weight: 400;
        line-height: toRem(36);
        letter-spacing: 0.02em;
        text-align: center;
        position: relative;
        text-transform: uppercase;

        & sup {
          @extend %BS;
          font-size: toRem(14);
          font-weight: 300;
          line-height: toRem(15.7);
          letter-spacing: -0.02em;
          text-align: left;
          position: relative;
          user-select: none;
          vertical-align: super;
          margin-top: 4px;
          white-space: nowrap;
        }
      }
    }
  }

  // &__content {
  //   width: 100%;
  //   height: auto;
  // }

  &__contactModal {
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999;
    backdrop-filter: blur(36px);
    @include flex(center, center);
    cursor: zoom-out;

    &--close {
      margin-left: auto;
      width: toRem(36);
      aspect-ratio: 1/1;
    }

    &--content {
      width: 100%;
      max-width: toRem(850);
      @include flexed(unset, flex-start, column);
      row-gap: toRem(50);
      cursor: default;
    }

    &--details {
      width: 100%;
      @include flex(space-between, flex-start);
      padding-right: toRem(80);

      & * {
        color: $black;
      }

      %RepeatFont {
        @extend %CB;
        font-size: toRem(36);
        font-weight: 400;
        line-height: toRem(36);
        letter-spacing: 0.02em;
        text-align: left;
      }

      &Email {
        @extend %RepeatFont;
      }

      &Slash {
        @extend %RepeatFont;
        padding-left: toRem(200);
      }

      &Deets {
        width: max-content;
        @include flexed(unset, flex-start, column);
        row-gap: toRem(36);

        & h3 {
          @extend %RepeatFont;
        }

        &-row {
          @include flexed(unset, flex-start, column);
          row-gap: toRem(33);

          & p {
            @extend %BodyText;
            font-weight: 400;

            &:not(:last-child) {
              margin-bottom: toRem(3);
            }

            & a {
              padding-bottom: 2px !important;

              &::before,
              &::after {
                height: 1px !important;
                bottom: 0% !important;
              }
            }
          }
        }
      }
    }
  }
}
