.wp {
  @include flexed(unset, center, column);
  height: auto;
  width: 100%;
  position: relative !important;
  overflow: hidden;

  &.loader {
    overflow: visible;
  }

  & * {
    color: $white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  &__pageHeader {
    width: 100%;
    @include flex(space-between, flex-start);
    position: relative;
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-inline: 1rem 1rem;
    z-index: 12;

    @include media(">tablet") {
      padding-inline: 1rem toRem(77);
    }

    %CommonLinkStyle {
      font-size: toRem(14);
      font-weight: 300;
      line-height: toRem(15.7);
      letter-spacing: -0.02em;
      text-align: center;
      width: toRem(84);
      height: toRem(24);
      padding: toRem(4) toRem(24);
      border: 1px solid currentColor;
      border-radius: 100px;
      @include flex(center, center);
      background-color: transparent;
    }

    &-menuBtn {
      @extend %CommonLinkStyle;
      overflow: hidden !important;

      & span {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }

      @include media(">tablet") {
        display: none !important;
      }
    }

    &-navLinks {
      width: max-content;
      display: none;
      column-gap: toRem(5);

      @include media(">tablet") {
        @include flex(flex-start, center);
      }

      & li {
        & * {
          @extend %CommonLinkStyle;

          &:hover {
            border-color: transparent !important;
          }
        }
      }
    }

    &-bigText {
      & h1 {
        @extend %CB;
        font-size: toRem(24);
        font-weight: 400;
        line-height: toRem(24);
        letter-spacing: 0.02em;
        text-align: center;
        position: relative;
        text-transform: uppercase;

        @include media(">tablet") {
          font-size: toRem(36);
          line-height: toRem(36);
        }

        & sup {
          @extend %BS;
          font-size: toRem(14);
          font-weight: 300;
          line-height: toRem(15.7);
          letter-spacing: -0.02em;
          text-align: left;
          position: relative;
          user-select: none;
          margin-top: 4px;
          white-space: nowrap;

          @include media(">tablet") {
            vertical-align: super;
          }
        }
      }
    }
  }

  &__mobileHeaderRoot {
    width: 100vw;
    height: 0%;
    background-color: $black;
    position: fixed;
    overflow: hidden;
    z-index: 6;
    pointer-events: none;

    &-overlay {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__mobileHeader {
    width: 100%;
    height: 100dvh;
    background-color: $black;
    position: relative;
    z-index: 9;
    @include flexed(center, center, column);
    padding-inline: 1rem;
    visibility: hidden;
    opacity: 0;

    &-navLinks {
      width: 100%;
      height: fit-content;
      @include flexed(unset, flex-end, column);
      row-gap: toRem(5);

      & li {
        text-align: right;
        overflow: hidden;

        & * {
          font-weight: 400;
          font-size: toRem(48);
          line-height: 100%;
          letter-spacing: -2%;
          text-align: right;
        }
      }
    }

    &-bottom {
      width: 100%;
      height: fit-content;
      padding-bottom: toRem(24);
      position: absolute;
      bottom: 0;
      left: 0;
      @include flex(space-between, flex-end);
      padding-inline: 1rem;

      & * {
        font-weight: 300;
        font-size: toRem(16);
        line-height: 100%;
        letter-spacing: -2%;
      }
    }

    &--socials {
      width: 100%;
      height: fit-content;
      @include flexed(flex-end, flex-end, column);
      row-gap: toRem(8);

      & li {
        & a {
          &::before,
          &::after {
            height: 1px !important;
            bottom: 0 !important;
            background-color: $white;
          }
        }
      }

      &List {
        @include flex(flex-end, center);
        column-gap: toRem(16);
      }
    }
  }
}

[wp-theme="dark"] {
  * {
    color: $white !important;
  }

  & li {
    &.active {
      & * {
        background-color: $white !important;
        color: $black !important;
      }
    }

    & * {
      &:hover {
        background-color: $white;
        color: $black !important;
      }
    }
  }
}

[wp-theme="light"] {
  * {
    color: $black !important;
  }

  & li {
    &.active {
      & * {
        background-color: $black !important;
        color: $white !important;
      }
    }

    & * {
      &:hover {
        background-color: $black;
        color: $white !important;
      }
    }
  }
}
