.pageHome {
  width: 100%;
  height: auto;
  background-color: $black;
  padding-inline: 1rem;
  position: relative;
  @include flex(space-between, flex-start);
  padding-top: toRem(444);

  // @include flex(flex-start, flex-start);
  // margin-left: toRem(120);

  &__stickySlotLabel {
    font-size: toRem(24);
    font-weight: 400;
    line-height: toRem(26.9);
    letter-spacing: -0.02em;
    text-align: left;
    color: $white;
  }

  &__stickyLeftSlot {
    width: max-content;
    position: sticky;
    top: toRem(180);
  }

  &__reelContainer {
    width: 100%;
    max-width: 80%;
    // max-width: toRem(1050);
    height: toRem(1200);
    background-color: rgba(255, 255, 255, 0.235);

    &-reel {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }

    &-vidGuard {
      position: absolute;
      inset: 0;
      user-select: none;
    }
  }

  &__stickyRightSlot {
    width: max-content;
    position: sticky;
    top: toRem(180);
    @include flexed(unset, flex-start, column);
    row-gap: toRem(90);
  }

  &__featuredSection {
    width: max-content;
    @include flexed(unset, flex-start, column);
    row-gap: toRem(36);

    &-featured {
      width: max-content;
      @include flex(flex-start, flex-start);
      column-gap: toRem(25);

      & span {
        font-size: toRem(10);
        font-weight: 300;
        line-height: toRem(11.21);
        letter-spacing: -0.02em;
        text-align: left;
      }
    }

    &-featuredImg {
      width: toRem(64);
      height: toRem(64);
      background-color: $white;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__footer {
    padding-inline: 1rem;
    padding-bottom: toRem(16);
    width: 100%;
    z-index: 2;
    @include flex(space-between, flex-end);
    padding-top: toRem(130);
    background-color: $black;

    &-label {
      font-size: toRem(14);
      font-weight: 300;
      line-height: toRem(15.7);
      letter-spacing: -0.02em;
      text-align: right;
      color: $white;
    }

    &-reachOut {
      @include flexed(unset, flex-start, column);
      row-gap: toRem(42);

      &--logo {
        width: toRem(64);
        height: toRem(64);

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--texts {
        @include flexed(unset, flex-start, column);

        & p {
          @extend %BodyText;

          &:nth-child(1) {
            opacity: 0.4;
            margin-top: 2px;
          }
        }
      }
    }

    &-time {
      @extend %BodyText;
      opacity: 0.4;
    }

    &-credit {
      @extend %BodyText;

      & span {
        opacity: 0.4;
      }

      & a {
        opacity: 1;

        &::before,
        &::after {
          height: 1px !important;
          bottom: 2% !important;
          background-color: $white;
        }
      }
    }
  }
}
