.pageHome {
  width: 100%;
  height: 100dvh;
  background-color: $black;
  padding-inline: 1rem;
  position: relative;
  // @include flexed(flex-end, center, column);
  position: relative;
  overflow: hidden;

  &.loader {
    overflow: visible;
  }

  &__main {
    width: 100%;
    min-height: toRem(300);
    display: grid;
    grid-template-columns: 1fr;

    @include media(">tablet") {
      grid-template-columns: 55% 45%;
    }

    &-leftSlot {
      width: 100%;
      @include flexed(unset, flex-start, column);
      padding-bottom: toRem(96);

      @include media(">tablet") {
        padding-bottom: toRem(116);
      }
    }

    &-workImg {
      // height: toRem(200);
      aspect-ratio: auto;
      width: calc(60% - 19.5%);
      background-color: $black;
      position: absolute;
      min-height: toRem(200);
      max-height: toRem(200);

      @include media(">tablet") {
        width: toRem(218);
        height: toRem(250);
        max-height: unset;
        padding-right: unset;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        will-change: transform;
      }
    }

    &-rightSlot {
      width: 100%;
      padding-bottom: toRem(16);
      display: grid;
      grid-template-columns: 60% 40%;

      @include media(">tablet") {
        padding-bottom: toRem(20);
      }
    }

    &-details {
      height: 100%;
      width: 100%;
      @include flexed(unset, flex-start, column);
      row-gap: toRem(96);
      position: relative;
      padding-left: toRem(8);
      padding-bottom: toRem(24);

      @include media(">tablet") {
        padding-bottom: 0;
      }

      @include media(">phone") {
        padding-left: toRem(20);
      }

      &--line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #ffffff3d;
        opacity: 0;
        visibility: hidden;
      }

      &--title {
        font-size: toRem(14);
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -2%;
        text-align: left;
        opacity: 0;
        visibility: hidden;
      }

      &--group {
        @include flexed(unset, flex-start, column);
        row-gap: toRem(56);
        max-width: 70%;

        @include media(">tablet") {
          row-gap: toRem(72);
          max-width: 60%;
        }
      }

      &--list {
        @include flexed(unset, flex-start, column);
      }

      &--listTitle {
        font-size: toRem(14);
        font-weight: 300;
        line-height: 125%;
        letter-spacing: -2%;
        text-align: left;
        margin-bottom: toRem(8);
        color: #ffffff99;
        opacity: 0;
        visibility: hidden;
      }

      &--listItem {
        font-size: toRem(16);
        font-weight: 400;
        line-height: 135%;
        letter-spacing: -2%;
        text-align: left;
        position: relative;
        opacity: 0;
        visibility: hidden;

        & a {
          &::before,
          &::after {
            height: 1px !important;
            bottom: 1px !important;
            background-color: $white;
          }
        }
      }
    }
  }

  &__footer {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media(">tablet") {
      @include flex(space-between, center);
    }

    & * {
      color: $white;
    }

    & small {
      @extend %BodyText;
      opacity: 60%;
      opacity: 0;
      visibility: hidden;

      & a {
        &::before,
        &::after {
          height: 1px !important;
          bottom: 2% !important;
          background-color: $white;
        }
      }
    }
  }
}

body.active {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.word {
  overflow: hidden;
  vertical-align: bottom;
}

.img-container.active {
  overflow: hidden;
}

// @media (max-width: 800px) {
//   .zoom-images {
//     height: 500px;
//     width: 500px;
//   }
// }
